/*#box{

	width: 300px;
	height: 300px;
	background: url("../img/camera.png");
}

#box h1{
	background: rgba(255,255,255,0.5);
	border-bottom: 2px solid #FFF;
}*/

/* #box{

	width: 300px;
	height: 300px;
	/*background: linear-gradient( to right,red, yellow);
	background: radial-gradient(red, yellow,red);
}*/

/*Sombras*/
#box{
	width: 400px;
	height: 400px;
	margin: 50px auto;
	padding: 8px;
	background: #009670;
	/*box-shadow: 6px 4px 10px 1px black;*/
	box-shadow: 6px 4px 10px 1px black,-6px 4px 10px 2px red;
}

#box h1{
	color: white;
	font-size: 60px;
	/*text-shadow: 20px 20px 10PX  black ;*/
	/*text-shadow: 20px 20px rgba(0,0,0,0.5);*/
	text-shadow: 4px 4px black ;

}

/*ANIMAÇÕES*/

/*Criar animação*/
/*@keyframes animacao-box{

	from{
		background: red;
		 border-radius: 0px;
		  top: 0;
		  left: 0;
		}
	to{
		background: yellow;
		 border-radius: 300px;
		  top: 200px; 
		  left: 200px;
		}

}

#box-animacao{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	animation-name: animacao-box;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;

	
} */

#box-transicao{

	width: 300px;
	height: 300px;
	background: orange;
}

#box-transicao:hover{

	width: 400px;
	background: black;
	transition: background 3s, width 8s;
}



